<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    <i class="fa fa-television" aria-hidden="true"></i>&nbsp
                    <%= __('User list') %>
                </a>
            </li>
        </ul>
    </div>
</nav>

<script>
    var path = window.location.pathname.split('/')[1];
    $('.nav > li > a[href="/' + path + '"]').addClass('active');
</script>